<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <h1>Last login date: {{ lastEnter }}</h1>
    <h1>Email: {{ user.email }}</h1>
    <h1>First name: {{ user.firstName }}</h1>

    <form action="/api/v1/file/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input type="text" name="contact" value="60d8534fdb9c502f4ee46acf" />
        <input type="submit" />
    </form>
</body>
</html>